*{
    margin: 0;
    background-color: #1f3438;
}
html{
    scroll-behavior: smooth;
}

/* Header sel sitio web */
.header{
    width: 100%;
    display: flex; 
    justify-content: space-between;
    overflow:hidden;
    
}

.menu {
    margin-top: 10px;
    width: 455px;
  }

.menu-button{
    display: none;
    
}
  
  .menu > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
    
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .menu li a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  

.logo{
    margin-top: 9px;
    width: 455px;
    display: flex;
    justify-content: center;
}

.logo > p {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    padding-top: 13px;
    padding-left: 10px;
}

.iconos{
    margin-top: 10px;
    color: azure;
    width: 455px;
    text-align: center;
    padding-top: 7px;
    
}

.iconos > a {
    padding: 5px 5px 5px 5px;
    height: auto;
}

/* body del sitio web */
.body{
    display: flex;
    padding-top: 30px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.body > p{
    color: azure;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    text-align: center;
}



/* seccion de proyectos  */
#proyectos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.proyectos {
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.imagen {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.imagen > img{
    border-radius: 5px;
}

.imagen {
    transition: transform 0.3s ease; /*transición suave */
}

.imagen:hover {
    transform: scale(1.1); /* Escala la imagen al 120% cuando se pasa el cursor sobre ella */
}

.texto{
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: azure;
    text-align: left;
    padding-left: 40px;
}

.texto > h2 {
    text-align: center;
    margin-bottom: 10px;
}


/* responsive para telefonos moviles  */
@media (max-width: 910px) {
    .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    }
}

@media (max-width: 910px) {
    .iconos  {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    }
}

@media (max-width: 910px) {
    .logo{
        padding-top: 10px;
        display: flex;
        width: 100%;
        flex-direction: row;
    }
}

  @media (max-width: 910px) {
    .proyectos{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    }
}

  @media (max-width: 910px) {
    .imagen > img{
    width: 85%;
    justify-content:center;
    align-items: center;
    }
}

@media (max-width: 910px){
    .texto{
    width: 85%;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    }

    .texto > h5{
    padding-bottom: 10px;
    }
}



@media (max-width: 910px){
    
    .menu-button{
        color: azure;
        background-color: #1f3438;
        display: block;
        font-size: 250%;
        width: 50px;
        border: 0;
        margin-top: -5px;
        
    }
    
    .menu{
        display: none;
        flex-direction: column; 
        width: 100%;
        background-color: #1f3438;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    } 

    .menu.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}