*{
    margin: 0;
    background-color: #1f3438;
}
html{
    scroll-behavior: smooth;
}


/* Header sel sitio web */
.header{
    width: 100%;
    display: flex; 
}

.menu {
    margin-top: 10px;
    width: 455px;
  }
  
  .menu > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    margin-left: 40px;
  }
  
  .menu li {
    float: left;
  }

  
  .menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .menu li a:hover {
    background-color: #ddd;
    color: black;
    border-radius: 10px;
  }
  

.logo{
    margin-top: 9px;
    width: 455px;
    display: flex;
    justify-content: center;
}

.logo > p {
    font-family: Arial, Helvetica, sans-serif;
    color: azure;
    padding-top: 13px;
    padding-left: 10px;
}

.iconos{
    margin-top: 10px;
    color: azure;
    width: 455px;
    text-align: center;
    padding-top: 7px;
    
}

.iconos > a {
    padding: 5px 5px 5px 5px;
    height: auto;
}

/* body del sitio web */
.body{
    padding-top: 30px;
    text-align: center;
}

.body > p{
    color: azure;
    flex-direction: column;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 110%;
    text-align: center;
}


/* seccion de proyectos  */
.proyecto {
    margin-top: 50px;
    display: flex;
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px;
}

.imagen {
    flex: 1; 
    margin-right: 50px; 
    margin-left: 5%;
}

.imagen img {
    max-width: 100%;
    height: auto; 
    border-radius: 10px;
}

.contenido {
    flex: 2;
}

.contenido h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: azure;
}

.contenido p {
    font-size: 16px;
    line-height: 1.6;
    color: azure;
}


/* responsive para telefonos moviles  */
@media (max-width: 910px) {
    .header{
    width: 100%;
    display: flex;
    flex-direction: column;
    }
}

@media (max-width: 910px) {
    .iconos{
    width: 100%;
    display: flex;
    justify-content:center;
    }
}

@media (max-width: 910px) {
    .logo{
        padding-top: 10px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .menu ul {
      display: none;
    }
    .menu ul.active {
      display: block;
    }
    .menu .icon {
      display: block;
      float: right;
      padding: 15px;
      color: white;
      cursor: pointer;
    }
  }